<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>Servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/jsp/ForgotPassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HotelServlet</servlet-name>
    <servlet-class>Servlet.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>Servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/jsp/Signup</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>Servlet.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/jsp/Signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.AddHotelRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/AddHotelRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrderRecordServlet</servlet-name>
    <servlet-class>Servlet.AddOrderRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderRecordServlet</servlet-name>
    <url-pattern>/jsp/AddOrderRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.ShowHotelRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHotelRecordServlet</servlet-name>
    <url-pattern>/ShowHotelRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/Admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowOrderRecordServlet</servlet-name>
    <servlet-class>Servlet.ShowOrderRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderRecordServlet</servlet-name>
    <url-pattern>/ShowOrderRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOrderRecordServlet</servlet-name>
    <url-pattern>/jsp/Admin2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.DeleteHotelRecordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/HotelRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeletRoomRecordServlet</servlet-name>
    <servlet-class>Servlet.DeletRoomRecordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeletRoomRecordServlet</servlet-name>
    <url-pattern>/jsp/RoomRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletUserServlet</servlet-name>
    <servlet-class>Servlet.DeletUserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeletUserServlet</servlet-name>
    <url-pattern>/jsp/dManageUsers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>Servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/jsp/AddRoomRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowRoomServlet</servlet-name>
    <servlet-class>Servlet.ShowRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRoomServlet</servlet-name>
    <url-pattern>/ShowRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRoomServlet</servlet-name>
    <url-pattern>/jsp/AdminPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ManageUsersServlet</servlet-name>
    <servlet-class>Servlet.ManageUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsersServlet</servlet-name>
    <url-pattern>/jsp/ManageUsers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserEditPageServlet</servlet-name>
    <servlet-class>Servlet.UserEditPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditPageServlet</servlet-name>
    <url-pattern>/jsp/UserEditPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.EditHotelRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/EditHotelRecord</url-pattern>
  </servlet-mapping>

</web-app>
