<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>Servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/jsp/ForgotPassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomPictureUploadServlet</servlet-name>
    <servlet-class>Servlet.RoomPictureUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomPictureUploadServlet</servlet-name>
    <url-pattern>/jsp/AddRoomRecord3</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HotelServlet</servlet-name>
    <servlet-class>Servlet.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeletRemarkServlet</servlet-name>
    <servlet-class>Servlet.DeletRemarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletRemarkServlet</servlet-name>
    <url-pattern>/jsp/RemarkRecord2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowRemarkRecordServlet</servlet-name>
    <servlet-class>Servlet.ShowRemarkRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRemarkRecordServlet</servlet-name>
    <url-pattern>/jsp/RemarkRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>Servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/jsp/Signup</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>Servlet.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/jsp/Signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.AddHotelRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/AddHotelRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddOrderRecordServlet</servlet-name>
    <servlet-class>Servlet.AddOrderRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderRecordServlet</servlet-name>
    <url-pattern>/AddOrderRecord2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelPictureUpload</servlet-name>
    <servlet-class>Servlet.HotelPictureUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelPictureUpload</servlet-name>
    <url-pattern>/jsp/AddHotelRecord3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemarkRecord</servlet-name>
    <servlet-class>Servlet.RemarkRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemarkRecord</servlet-name>
    <url-pattern>/Cottagedetail3</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddRemarkRecordServlet</servlet-name>
    <servlet-class>Servlet.AddRemarkRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRemarkRecordServlet</servlet-name>
    <url-pattern>/jsp/AddRemarkRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.ShowHotelRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHotelRecordServlet</servlet-name>
    <url-pattern>/ShowHotelRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomSearchServlet</servlet-name>
    <servlet-class>Servlet.RoomSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomSearchServlet</servlet-name>
    <url-pattern>/jsp/RoomRecord2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletOrderServlet</servlet-name>
    <servlet-class>Servlet.DeletOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletOrderServlet</servlet-name>
    <url-pattern>/jsp/OrderRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchHotelRecordByNameServlet</servlet-name>
    <servlet-class>Servlet.SearchHotelRecordByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHotelRecordByNameServlet</servlet-name>
    <url-pattern>/jsp/SearchHotelRecordByName</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchOrderRecordByCIDServlet</servlet-name>
    <servlet-class>Servlet.SearchOrderRecordByCIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchOrderRecordByCIDServlet</servlet-name>
    <url-pattern>/jsp/SearchOrderRecordByCID</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ShowOrderRecordServlet</servlet-name>
    <servlet-class>Servlet.ShowOrderRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderRecordServlet</servlet-name>
    <url-pattern>/ShowOrderRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOrderRecordServlet</servlet-name>
    <url-pattern>/jsp/Admin2</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>SearchHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.SearchHotelRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/SearchHotelRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.DeleteHotelRecordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/HotelRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeletRoomRecordServlet</servlet-name>
    <servlet-class>Servlet.DeletRoomRecordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeletRoomRecordServlet</servlet-name>
    <url-pattern>/jsp/RoomRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletUserServlet</servlet-name>
    <servlet-class>Servlet.DeletUserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeletUserServlet</servlet-name>
    <url-pattern>/jsp/dManageUsers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>Servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/jsp/AddRoomRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowRoomServlet</servlet-name>
    <servlet-class>Servlet.ShowRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRoomServlet</servlet-name>
    <url-pattern>/ShowRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRoomServlet</servlet-name>
    <url-pattern>/jsp/AdminPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ManageUsersServlet</servlet-name>
    <servlet-class>Servlet.ManageUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsersServlet</servlet-name>
    <url-pattern>/jsp/ManageUsers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserEditPageServlet</servlet-name>
    <servlet-class>Servlet.UserEditPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditPageServlet</servlet-name>
    <url-pattern>/jsp/UserEditPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditHotelRecordServlet</servlet-name>
    <servlet-class>Servlet.EditHotelRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditHotelRecordServlet</servlet-name>
    <url-pattern>/jsp/EditHotelRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditRoomRecordServlet</servlet-name>
    <servlet-class>Servlet.EditRoomRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoomRecordServlet</servlet-name>
    <url-pattern>/jsp/EditRoomRecord</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchHotelIdServlet</servlet-name>
    <servlet-class>Servlet.SearchHotelIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHotelIdServlet</servlet-name>
    <url-pattern>/EditRoomRecord2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserPageServlet</servlet-name>
    <servlet-class>Servlet.UserPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPageServlet</servlet-name>
    <url-pattern>/jsp/UserPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RemarkPageServlet</servlet-name>
    <servlet-class>Servlet.RemarkPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemarkPageServlet</servlet-name>
    <url-pattern>/jsp/RemarkPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewRemarkPageServlet</servlet-name>
    <servlet-class>Servlet.ViewRemarkPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRemarkPageServlet</servlet-name>
    <url-pattern>/jsp/ViewRemarkPage</url-pattern>
  </servlet-mapping>

</web-app>
